.detailContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}

.subDetailContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    border-radius: 15px;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}

.gridContainer {
    display: grid;
    grid: repeat(6, 70px) / auto-flow 270px;
}

.gridButtonContainer {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.gridContainer > div {
    width: 250px;
    height: 50px;
}

.label {
    position: relative;
    display: block;
    font-weight: bold;
    margin-top: 12px;
    padding-left: 5px;
}

.label::after {
    content: ' :';
}

.input[type="text"] {
    position: relative;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

.buttonEdit, .buttonPrint, .buttonDelete {
    position: relative;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    height: 40px;
    width: 160px;
    box-sizing: border-box;
}

.buttonEdit {
    background-color: rgb(110, 85, 85);
}

.buttonPrint {
    background-color: rgb(42, 99, 165);
    
}

.buttonDelete {
    background-color: rgb(172, 63, 63);
}

/* Toggle Switch Button */

.switchContainer {
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media print {
    .detailContainer {
        width: 95%;
    }

    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }

    @page {
        size: landscape;
        margin: auto;
    }
}
