.navButton {
    display: block;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 10px;
    /*color: rgba(48, 14, 14, 0.712);*/
    text-decoration: none;
    cursor: pointer;
    height: 60px;
    text-align: left;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.text {
    color: aliceblue;
    font-weight: bold;
}

.navButton:hover {
    text-decoration: none;
    cursor: pointer;
}

.navButton:hover .text {
    color: rgb(255, 199, 136);
}