.container {
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    color: black;
}

.label2 {
    font-size: 17px;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

li {
    list-style-position: inside;
    font-size: 13px;
}