.mercurialContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.mercurial {
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    background-color: rgba(0, 0, 0, 0.39);
}

.th {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.39);  
    border-radius: 5px; 
}

.alignLeft, .alignRight, .td {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.39);  
}

.link {
    position: relative;
    text-decoration: none;
    border: 1px solid rgb(0, 39, 75);
    padding: 10px;
    width: 170px;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.link:visited {
    color: rgb(0, 39, 75);
    font-weight: bold;
}