.container {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
} 

.linkTo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 80px;
    justify-content: left;
    width: 80%;
    padding-top: 20px;
}

.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin-bottom: 40px;
}

.ingredientContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}

.mercurial {
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    background-color: rgba(0, 0, 0, 0.39);
}

.th {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.39);  
    border-radius: 5px; 
}

.alignLeft, .alignRight, .td {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.39);  
}

.link {
    position: relative;
    text-decoration: none;
    border: 1px solid rgb(0, 39, 75);
    padding: 10px;
    width: 240px;
    align-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.link:visited {
    color: rgb(0, 39, 75);
    font-weight: bold;
}

.iconeSearch {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}