.container {
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    color: black;
}

.subContainer {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 380px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}