.container {
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.container div {
    width: 600px;
    height: 70px;
}

.icone {
    font-size: 40px;
    padding-top: 48px;
    padding-right: 7px;
}

.icone2 {
    font-size: 40px;
    padding-right: 7px;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.buttonReturn {
    position: relative;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 200px;
    background-color: rgba(73, 98, 211, 0.795);
    box-sizing: border-box;
}

.buttonReturn:hover {
    background-color: rgba(71, 148, 219, 0.795);
}