.container {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
}

.mercurialContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin-bottom: 40px;
}

.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.mercurial {
    margin-bottom: 40px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.link {
    cursor: auto;
    text-decoration: none;
}