.mercurialContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin:auto;
}

.mercurial {
    margin-bottom: 40px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}