.mercurialContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}

.mercurialContainer2 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin-bottom: 40px;
}

.container {
    position: relative;
    margin: auto;
    width: 98%;
    margin-bottom: 40px;
}


.link {
    text-decoration: none;
}