.navbar {
    display: flex;
    height: 60px;
    padding: 0 20px 0 30px;
    background-color: rgb(9, 0, 41);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navBarLogo {
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    height: 60px;
    margin-right: 10px;
}

.logo {
    display: block;
    margin-top: 0px;
    cursor: pointer;
}

.navButton {
    display: block;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    height: 60px;
}

.navButton:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
