.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: aliceblue;
    font-size: 20px;
    margin: auto;
    width: 100%;
}

.row {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label {
    position: relative;
    margin-top: 40px;
    width: 200px;
}

.loginButton {
    position:relative;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height:10%;
}

input[type=text] {
    height: 25px;
    width: 200px;
    margin-top: 40px;
}
  
.button {
    color: #e2e4e5;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
    border:none;
    float:right;
    background-color: #2a963c;
    width: 205px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
  
.button:focus {
    text-decoration: none;
    outline: none;
}
