.container {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    color: black;
}

.subcontainer {
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

.icone {
    font-size: 20px;
    padding-top: 22px;
    padding-right: 7px;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.gridContainer {
    margin-top: 20px;
    display: grid;
    grid: repeat(3, 300px) / auto-flow auto;
}

.gridContainer > div {
    width: auto;
    height: 280px;
}

.divTop {
    margin-top: 20px;
}

.input2[type="number"] {
    position: relative;
    color: black;
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: 185px;
    box-sizing: border-box;
}

/* Toggle Switch Button */

.switchContainer {
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.buttonSave {
    position: relative;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    margin-top: 22px;
    margin-left: 20px;
    height: 25px;
    background-color: rgb(110, 85, 85);
    box-sizing: border-box;
}

.buttonSave:hover {
    background-color: rgb(92, 65, 65);
}

.buttonCancel {
    position: relative;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    margin-top: 22px;
    margin-left: 20px;
    height: 25px;
    background-color: rgb(172, 63, 63);
    box-sizing: border-box;
}

.buttonCancel:hover {
    background-color: rgb(209, 40, 40);
}

.toast {
    position: fixed;
    margin-left: auto;
    width: 300px;
    height: 90px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: grey;
    z-index: 3;
}

.toastHeader {
    background-color: green;
    color: aliceblue;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    border-bottom: grey 2px solid;
}

.toastBody {
    background-color: greenyellow;
    color: black;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: grey 2px solid;
}