.listeFTContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.container {
    position: relative;
    margin: auto;
    width: 98%;
    margin-bottom: 40px;
}

.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin-bottom: 40px;
}

.categoryContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}

.link {
    margin-top: 10px;
    text-decoration: none;
}